@import url("./botoes.css");

.tabela {
    margin-top: 2.25rem;
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    box-shadow: var(--sombra);    
    border-collapse: initial;    
    width: 100%;
}

.tabela__cabecalho {
    font-size: 16px;
    font-weight: 600;
}

.tabela__coluna {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--cor-secundaria);
}

.tabela td {
    padding: 1rem 0
}

.tabela tr:last-of-type td {
    margin-bottom: 1.75rem;
}

.tabela__botoes-controle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 1rem;
}

.td {
    text-align: center;
}

.td_unidade {
    text-align: left;
}