.cabecalho {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.75rem;
}

.cabecalho__logo {
    margin-left: 1rem;
    width: 3rem;
}

.cabecalho__lista-navegacao {
    display: flex;
    margin-right: 1rem;
}

.cabecalho__link {
    margin-left: 2rem;
}

.cabecalho__link--texto {
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    color: var(--branco);
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}
