@import url("./cartao.css");
@import url("./inputs.css");

.cadastro__container {
    display: flex;
    justify-content: center;
}

.cadastro {
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    box-shadow: var(--sombra);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem;
    width: 80%;
}


